.button-basics{
    background-color: $-primary-color;
    color: #fff;
    padding: 12px 24px;
    border: none; 
    text-decoration: none;
    width: $input-width;
    margin: 10px 0px;
    cursor: pointer;
}