$-primary-color: rgb(66, 66, 181);
$-sec-color: rgb(103, 103, 181); 
$input-width: 300px;
$input-height: 20px;
$level-width: 100%;
@import "button.scss";
@import "form.scss";

.login {
    border: 5px solid $-primary-color;
    margin: auto;
    height: 500px;
    width: 400px;
    .heading {
        font-size: 38px;
        text-align: center;
        padding: 18px 0px 26px 0px;
    }
    button{
        @extend .button-basics
    }
    
}
form{
    @extend .form-basics
}
button{
    @extend .button-basics;
    margin: 10px;
    width: auto;
}
button:disabled{
    background-color:$-sec-color;
}