$-primary-color: rgb(66, 66, 181);
$-sec-color: rgb(103, 103, 181); 
$input-width: 300px;
$input-height: 20px;
$level-width: 100%;
.button-basics{
    background-color: $-primary-color;
    color: #fff;
    padding: 12px 24px;
    border: none; 
    text-decoration: none;
    width: $input-width;
    margin: 10px 0px;
}
.login {
    border: 5px solid $-primary-color;
    margin: auto;
    height: 500px;
    width: 400px;
    .heading {
        font-size: 38px;
        text-align: center;
        padding: 18px 0px 26px 0px;
    }
    .formEl {
        width: $level-width;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        .check{
            width: $input-width;
            display: flex;
            justify-content:left;
        }
        button{
            @extend .button-basics
        }

    }
}
form {
    label {
        width: $level-width;
        height: 5px;
        padding: 8px 0px;
        color: $-primary-color;
    }
    input {
        width: $input-width;
        height: $input-height;
        padding: 12px 20px;
        margin: 8px 5px;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: content-box;
    }
    button{
        @extend .button-basics
    }
    button:disabled{
        background-color:$-sec-color;
    }
    
}